<section class="oe_container"
    style="font-size: 16px; font-family: 'Lato', 'Open Sans', 'Helvetica', Sans; font-weight: 300;">
    <div class="row oe_spaced p-4">
        <div class="oe_span5">
            <!-- <img class="oe_picture" src="icon.png" alt=""> -->
        </div>
        <div class="oe_span6">
            <div>
                <h2
                    style="color: #159e65; font-size: 30px; margin-bottom: 30px; font-family: 'Cabin', sans-serif; font-weight: 400; line-height: 1.2;">
                    Caracter&iacute;sticas!</h2>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-check-square"
                                style="font-size: 20px; color: #00A09D; margin-right: 25px;"></i></span>Podemos establecer el cliente predeterminado
                                 desde la configurac&iacute;on de POS y establecer ese cliente como cliente predeterminado en cada pedido en POS.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="row">
        <div class="oe_span12">
            <div class="oe_slogan">
                <h2 class="text-center"
                    style="font-size: 35px;color: #159e65;font-weight: 700;text-transform: uppercase;text-align: left;margin: 0;margin-bottom: 16px;">
                    CAPTURAS DE PANTALLA
                </h2>
                <div class="text-center"
                    style="width: 10%; height: 2px; background-color: #3C3364; margin-top: 15px; margin-left: 45%;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="oe_span12">
            <div class="text-center"
                style="border: 1px solid #eff2f6; padding: 40px; border-radius: 20px; margin-bottom: 30px; -webkit-box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08); box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);">
                <h4>Configurar Cliente Predeterminado</h4>
                <img class="oe_picture" src="img/screenshot1.png" alt="">
                
            </div>
        </div>
        <div class="oe_span12">
            <div class="text-center"
                style="border: 1px solid #eff2f6; padding: 40px; border-radius: 20px; margin-bottom: 30px; -webkit-box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08); box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);">
                <h4>Cliente Predeterminado Establecido</h4>
                <img class="oe_picture" src="img/screenshot2.png" alt="" >
                
            </div>
        </div>
    </div>
</section>


<section class="oe_container lead">
    <div class="row">
        <div class="oe_span12">
            <div class="oe_slogan">
                <h2 class="text-center"
                    style="font-size: 35px;color: #159e65;font-weight: 700;text-transform: uppercase;text-align: left;margin: 0;margin-bottom: 16px;">
                    Desarrollado por Kenda Tec
                </h2>
                <div class="text-center"
                    style="width: 10%; height: 2px; background-color: #3C3364; margin-top: 15px; margin-left: 45%;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <img class="oe_picture center" src="logo.png" style="margin: 15px 20% !important; max-width: 60% !important;" />
        </div>
        <div class="col-6 mt32">
            <a style="color: rgb(255, 255, 255); background-color: #108f6f; border: 1px solid #108f6f; position: relative; overflow: hidden;" class="btn btn-success btn-sm mt16 ml32" rel="nofollow" href="https://kendatec.com/" target="_blank">
                <i class="fa fa-globe"></i> Website
            </a>
            <br/>
            <a style="color: rgb(255, 255, 255); background-color: #108f6f; border: 1px solid #108f6f; position: relative; overflow: hidden;" class="btn btn-success btn-sm mt8 ml32" rel="nofollow" href="mailto:kendatec@gmail.com">
                <i class="fa fa-envelope"></i> Support
            </a>
            <br/>
            <a style="color: rgb(255, 255, 255); background-color: #108f6f; border: 1px solid #2CA9DB; position: relative; overflow: hidden;" class="btn btn-success btn-sm mt8 ml32" rel="nofollow" href="https://www.facebook.com/kendatec" target="_blank">
                <i class="fa fa-facebook-square"></i> facebook:Kenda Tec
            </a> 
        </div>
        
    </div> 
    <div class="copyright-text text-center ">
        <p style="text-align: center;">Copyright &copy;2020 Kenda Tec, <a href="https://kendatec.com/" target="_blank">www.kendatec.com</a></p>
    </div>
</section>