<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6 ">
            <img class="oe_picture oe_screenshot" src="banner.jpg">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <h2 class="oe_slogan" style="color:#875A7B;">POS Loyalty : exclude customer</h2>
            <h3 class="oe_slogan">Exclude a customer from loyalty programs !</h3>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Informations</h3>
        <p class="oe_mb32" style="margin-left:48px;">
           In POS, when the customer is excluded from the loyalty programs, the calculation of the points is disabled and the points are not shown on the ticket.
        </p>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Usage</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">Exclude a customer</h5>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="usage_01.png">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <p class="oe_mb32" style="margin-left:48px;">
            <ol>
            <li>Access to a customer in back office</li>
            <li>Open <b>Sales & Purchase</b> tab</li>
            <li>Click on <b>Excluded from loyalty programs</b> fields</li>
            </ol>
            </p>
        </div>
    </div>
</section>
