

<section class="container">

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 mt16" style="padding:0;">
            <!-- Price, Promo, Dependancies -->
            <div class="col-md-12" style="padding:0;">
                <div class="panel-group mb0 mt0"
                     role="tablist"
                     id="priceAccordeon"
                     style="padding:0;"
                >
                    <div class="panel-heading collapsed mb0 mt0"
                         role="tab"
                         data-toggle="collapse"
                         data-parent="#priceAccordeon"
                         data-target="#priceAccordeon_area"
                         aria-expanded="false"
                         style="margin-left:0;padding:0 0 2px 0;text-align:right;"
                    >
                        <strong>
                            <!-- Price -->
                            <div style="background-color:#21B799;color:white;padding:5px;text-align:left;border-radius:5px;cursor:pointer;white-space:nowrap;display: inline-block;">
                                <strong title="Click to observe details">
                                    <i class="fa fa-tags"> </i>
                                    <span style="margin-left:1px;">
                                        €198
                                    </span>
                                    <i class="fa fa-angle-down" style="margin-left:2px;"> </i>
                                </strong>
                            </div>
                            <!-- Compatibility -->
                            <div style="background-color:#0D6759;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Enterprise
                                </strong>
                            </div>
                            <div style="background-color:#0D6759;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool is compatible with the Odoo Community version">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Community
                                </strong>
                            </div>
                            <div style="background-color:#0D6759;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Odoo.sh
                                </strong>
                            </div>
                        </strong>
                    </div>
                    <div class="panel-collapse collapse"
                         role="tabpanel"
                         id="priceAccordeon_area"
                         aria-expanded="false"
                         style="padding:0;border:1px dotted #ddd;"
                    >
                        <div class="panel-body">
                            <!-- Promo -->
                            <!-- Dependancies -->
                            <div class="mt8">
                                    The tool does not require extra dependencies beside standard Odoo apps
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Rich Summary -->
        <div class="col-md-12 mt8" style="padding:0;">
            <div class="col-md-12" style="padding:0 0px 0 0px;">
                    <p style="font-size:18px;">
                        If you knew stock demand trends per warehouses, you would have a clue to decrease keeping costs and to have a flawless supply chain. Regretfully, you can't know the future. However, you can predict it with a certain reliability. This is the tool for that goal. The app let you construct stock demand per periods and forecast further demand. 
                    </p>
            </div>
        </div>
        <div class="col-md-12 mt8" style="padding:0;">
            <!-- Tabs List -->
            <ul role="tablist"
                class="nav nav-tabs"
                data-tabs="tabs"
                style="font-size:18px;"
            >
                <li class="nav-item">
                    <a href="#features"
                       data-toggle="tab"
                       class="active show"
                       aria-expanded="true"
                       style="color:#21B799;"
                    >
                        Features
                    </a>
                </li>
                    <li class="nav-item">
                        <a href="#config"
                           data-toggle="tab"
                           class=""
                           aria-expanded="false"
                           style="color:#21B799;"
                        >
                           Guidelines
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#faq"
                           data-toggle="tab"
                           class=""
                           aria-expanded="false"
                           style="color:#21B799;"
                        >
                           FAQ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#screenshots"
                           data-toggle="tab"
                           class=""
                           aria-expanded="false"
                           style="color:#21B799;"
                        >
                           Screenshots
                        </a>
                    </li>
                <li class="nav-item">
                    <a href="#support_info"
                       data-toggle="tab"
                       class=""
                       aria-expanded="false"
                       style="color:#21B799;"
                    >
                       Support
                       <span>&amp; Demo <sup><small style="color:#BA3C3D;"><i>free</i></small></sup></span></span>
                    </a>
                </li>
            </ul>
            <!-- Tabs' content -->
            <div class="tab-content">
                <!-- Features -->
                <div class="tab-pane active show"
                     id="features"
                >
                    <div class="col-md-12 mt8" style="padding:0;">
                        <!-- Alerts -->
                        <!-- Features, Extra notes, Reviews  -->
                        <div class="col-md-12" style="padding: 0;margin: 8px 0 0 0;">
                            <div class="col-md-12"
                                 style="margin: 8px 0px;padding:0 0;"
                            >
                                <h3 style="padding:0;margin:4px 0;font-size:22px !important;">
                                    <i class="fa fa-check-square-o" style="color:#21B799;font-size:28px;"> </i>
                                    <span style="margin-left:5px;color:#333333;">
                                        When this tool should be used
                                    </span>
                                </h3>
                                <p style="font-size:18px;color:#777777;margin-bottom: 0;">
                                    <ul style='font-size:18px;'>
<li class='text-muted'>You have enough historical stock demand data (per location or company), since it is senseless to make forecast based on last 5 days of operations.</li>
<li class='text-muted'>Stock demand is regular and is not chaotic, meaning that your decisions do not have 100% impact and there is at least some correlation between market demand and your WMS operations.</li>
<li class='text-muted'>You consider seasonal changes and/or trends, which you noticed but can't fully analyze. You understand which assumptions you try to check.</li>
<li class='text-muted'>You have clear understanding how statistics works.</li>
</ul>
                                </p>
                                <!-- Extra notes -->
                                <!-- Feature own screenshots -->
                                <!-- Reviews -->
                            </div>
                            <div class="col-md-12"
                                 style="margin: 8px 0px;padding:0 0;"
                            >
                                <h3 style="padding:0;margin:4px 0;font-size:22px !important;">
                                    <i class="fa fa-check-square-o" style="color:#21B799;font-size:28px;"> </i>
                                    <span style="margin-left:5px;color:#333333;">
                                        Stock demand forecasting interface
                                    </span>
                                </h3>
                                <p style="font-size:18px;color:#777777;margin-bottom: 0;">
                                    Demand trends and forecast are shown in comfortable manner of your choice: as an Odoo chart, as an Odoo report (pivot), as an Excel table. The latter might be also used to import data in certain statistical software.<br/>
The right for trends analysis might be granted to any WMS user, but be cautious: all stock moves of a current company will be under consideration.
                                </p>
                                <!-- Extra notes -->
                                <!-- Feature own screenshots -->
                                <div class="panel-group mb0 mt0"
                                     role="tablist"
                                     id="features_screenshots_2143"
                                     style="padding:0;"
                                >
                                    <div class="panel-heading collapsed mb0 mt0"
                                         role="tab"
                                         data-toggle="collapse"
                                         data-parent="#features_screenshots_2143"
                                         data-target="#features_screenshots_area_2143"
                                         aria-expanded="false"
                                         style="padding:4px 0;"
                                    >
                                        <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                            Screenshots
                                            <i class="fa fa-angle-down" style="margin-left:2px;"> </i>
                                        </span>
                                    </div>
                                    <div class="panel-collapse collapse"
                                         role="tabpanel"
                                         id="features_screenshots_area_2143"
                                         aria-expanded="false"
                                         style="padding:0;border:1px dotted #ddd;"
                                    >
                                        <div class="panel-body" style="font-size:18px;">
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Stock demand trends and forecast chart</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Chart of forecasts and historical moves"
                                                         src="stock_trends_chart.png"
                                                    />
                                                </div>
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Stock demand trends and forecast as an xlsx table</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Excel table of stock moves per periods"
                                                         src="stock_demand_forecast_xlsx.png"
                                                    />
                                                </div>
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Odoo pivot view of stock trends and forecast</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Odoo report for stocks prediction"
                                                         src="stock_demand_forecast_report.png"
                                                    />
                                                </div>
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Stock demand forecast in a few clicks</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Demand trends and forecast button"
                                                         src="demand_trends_button.png"
                                                    />
                                                </div>
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Grant the right for the forecast report</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Stock demand trends and forecast security"
                                                         src="trends_security.png"
                                                    />
                                                </div>
                                            <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                                 data-toggle="collapse"
                                                 data-parent="#features_screenshots_2143"
                                                 data-target="#features_screenshots_area_2143"
                                            >
                                                <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                                    Screenshots
                                                    <i class="fa fa-angle-up" style="margin-left:2px;"> </i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Reviews -->
                            </div>
                            <div class="col-md-12"
                                 style="margin: 8px 0px;padding:0 0;"
                            >
                                <h3 style="padding:0;margin:4px 0;font-size:22px !important;">
                                    <i class="fa fa-check-square-o" style="color:#21B799;font-size:28px;"> </i>
                                    <span style="margin-left:5px;color:#333333;">
                                        Scientific approach for forecasting
                                    </span>
                                </h3>
                                <p style="font-size:18px;color:#777777;margin-bottom: 0;">
                                    Apply the statistical method which you consider as the most suitable: Autoregression, Moving Average, Autoregressive Integrated Moving average, Seasonal Autoregressive Integrated Moving Average, Simple Exponential Smoothing, Holt Winter’s Exponential Smoothing.<br/>
Forecast as many intervals as you like, but remember that prediction for the next 10 years would be hardly reliable.<br/>
Based on your historical data and applied coefficients, sometimes Odoo is not able to reveal trends and make forecasts. In that case only historical data would be shown in reports. But even historical trends might have analytical use.
                                </p>
                                <!-- Extra notes -->
                                    <div class="panel-group mb0 mt0"
                                         role="tablist"
                                         id="noteAccordeon_426"
                                         style="padding:0;"
                                    >
                                        <div class="panel-heading collapsed mb0 mt0"
                                             role="tab"
                                             data-toggle="collapse"
                                             data-parent="#noteAccordeon_426"
                                             data-target="#noteAccordeon_426_area"
                                             aria-expanded="false"
                                             style="padding:4px 0;"
                                        >
                                            <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                                Statistical methods for forecast
                                                <i class="fa fa-angle-down" style="margin-left:2px;"> </i>
                                            </span>
                                        </div>
                                        <div class="panel-collapse collapse"
                                             role="tabpanel"
                                             id="noteAccordeon_426_area"
                                             aria-expanded="false"
                                             style="padding:0;border:1px dotted #ddd;"
                                        >
                                            <div class="panel-body" style="font-size:18px;">
                                                <div class="alert alert-info">
    <span style="font-size:18px">
            <i class="fa fa-info-circle"> </i>
Some statistical methods require deeper knowledge in statistics. To start with read <a href='https://machinelearningmastery.com/time-series-forecasting-methods-in-python-cheat-sheet/'>this</a>, <a href='https://www.digitalocean.com/community/tutorials/a-guide-to-time-series-forecasting-with-arima-in-python-3'>this</a>,  and <a href='https://people.duke.edu/~rnau/411arim.htm'>this</a> articles
    </span>
</div>

<h5 style='font-size:18px;'><strong>Autoregression (AR)</strong></h5>
<p style='font-size:18px;'>It is the simplest but still widely used statistical method for time series forecast. Using the method you consider stock demand trends being linear without seasonal effects, without a purely defined trend, and without smoothing abnormal observation.</p>
<h5 style='font-size:18px;'><strong>Moving Average (MA) and Autoregressive Moving Average (ARMA)
</strong></h5>
<p style='font-size:18px;'>The moving average method takes into account 'errors' in previous observations, and in comparison to the AR method smooths abnormal data.</p>
<p style='font-size:18px;'>The autoregressive moving average method is a combination of both AR and MA methods. To apply the ARMA method use the MA method with auto regression coefficient (P coefficient) as 2</p>

<h5 style='font-size:18px;'><strong>Autoregressive Integrated Moving Average (ARIMA)</strong></h5>
<p style='font-size:18px;'>The method which also combines the methods AR and MA, but also tries to make data stationary. It is appropriate to use for historical data with pure trend but without seasonal changes.</p>

<h5 style='font-size:18px;'><strong>Seasonal Autoregressive Integrated Moving-Average (SARIMA)</strong></h5>
<p style='font-size:18px;'>The SARIMA method enriches the ARIMA method with considering seasonal changes. It is one of the most complex and wide spread methods utilized for forecasting time series now</p>

<h5 style='font-size:18px;'><strong>Simple Exponential Smoothing (SES)</strong></h5>
<p style='font-size:18px;'>The SES model usage is similar to the AR method, but instead of relying upon linear function, it exploits exponential one</p>

<h5 style='font-size:18px;'><strong>Holt Winter’s Exponential Smoothing (HWES)</strong></h5>
<p style='font-size:18px;'>The HWES method enriches the SES method to work with time series trends and seasonal effects.</p>
                                            </div>
                                            <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                                 data-toggle="collapse"
                                                 data-parent="#noteAccordeon_426"
                                                 data-target="#noteAccordeon_426_area"
                                            >
                                                <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                                    Statistical methods for forecast
                                                    <i class="fa fa-angle-up" style="margin-left:2px;"> </i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                <!-- Feature own screenshots -->
                                <div class="panel-group mb0 mt0"
                                     role="tablist"
                                     id="features_screenshots_2141"
                                     style="padding:0;"
                                >
                                    <div class="panel-heading collapsed mb0 mt0"
                                         role="tab"
                                         data-toggle="collapse"
                                         data-parent="#features_screenshots_2141"
                                         data-target="#features_screenshots_area_2141"
                                         aria-expanded="false"
                                         style="padding:4px 0;"
                                    >
                                        <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                            Screenshots
                                            <i class="fa fa-angle-down" style="margin-left:2px;"> </i>
                                        </span>
                                    </div>
                                    <div class="panel-collapse collapse"
                                         role="tabpanel"
                                         id="features_screenshots_area_2141"
                                         aria-expanded="false"
                                         style="padding:0;border:1px dotted #ddd;"
                                    >
                                        <div class="panel-body" style="font-size:18px;">
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Experiment with various statistical models</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Different statistical methods for forecast"
                                                         src="stock_demand_forecast_methods.png"
                                                    />
                                                </div>
                                            <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                                 data-toggle="collapse"
                                                 data-parent="#features_screenshots_2141"
                                                 data-target="#features_screenshots_area_2141"
                                            >
                                                <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                                    Screenshots
                                                    <i class="fa fa-angle-up" style="margin-left:2px;"> </i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Reviews -->
                            </div>
                            <div class="col-md-12"
                                 style="margin: 8px 0px;padding:0 0;"
                            >
                                <h3 style="padding:0;margin:4px 0;font-size:22px !important;">
                                    <i class="fa fa-check-square-o" style="color:#21B799;font-size:28px;"> </i>
                                    <span style="margin-left:5px;color:#333333;">
                                        Topical data under consideration
                                    </span>
                                </h3>
                                <p style="font-size:18px;color:#777777;margin-bottom: 0;">
                                    Demand trends and forecast are constructed for product templates in general (e.g. all iPads) or specific product variants (iPad 32Gb). Use the button 'Stock Trends' on a product form for that purpose. The product under analysis should be storable.<br/>
Make analysis per the whole company or per a definite location. In the latter case optionally include or exclude child locations.<br/>
Apply time frames of historical data which is used as an analytic basis. Forecast periods are ones which follow after the end of defined frame. In such a way you make check statistical reliability 'predicting' actually passed intervals.<br/>
Stock demand is calculated as all done stock moves for this period which source location is one of internal location under consideration and which destination location is not of this range.
                                </p>
                                <!-- Extra notes -->
                                <!-- Feature own screenshots -->
                                <div class="panel-group mb0 mt0"
                                     role="tablist"
                                     id="features_screenshots_2142"
                                     style="padding:0;"
                                >
                                    <div class="panel-heading collapsed mb0 mt0"
                                         role="tab"
                                         data-toggle="collapse"
                                         data-parent="#features_screenshots_2142"
                                         data-target="#features_screenshots_area_2142"
                                         aria-expanded="false"
                                         style="padding:4px 0;"
                                    >
                                        <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                            Screenshots
                                            <i class="fa fa-angle-down" style="margin-left:2px;"> </i>
                                        </span>
                                    </div>
                                    <div class="panel-collapse collapse"
                                         role="tabpanel"
                                         id="features_screenshots_area_2142"
                                         aria-expanded="false"
                                         style="padding:0;border:1px dotted #ddd;"
                                    >
                                        <div class="panel-body" style="font-size:18px;">
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Target your analysis by locations</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Analyse stock demand per location or company"
                                                         src="stock_demand_trend_wizard.png"
                                                    />
                                                </div>
                                            <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                                 data-toggle="collapse"
                                                 data-parent="#features_screenshots_2142"
                                                 data-target="#features_screenshots_area_2142"
                                            >
                                                <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                                    Screenshots
                                                    <i class="fa fa-angle-up" style="margin-left:2px;"> </i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Reviews -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- User guidlines (configuration) -->
                <div class="tab-pane"
                     id="config"
                >
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="conf_accordeon_300"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#conf_accordeon_300"
                                 data-target="#conf_accordeon_300_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    Python dependencies
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="conf_accordeon_300_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            <p>To guarantee tool correct work you would need a number of Python libraries: pandas, numpy, statsmodels, scipy, xlsxwriter. To install those packages execute the command:</p>
<p><code>pip install pandas numpy statsmodels scipy xlsxwriter
</code></p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#conf_accordeon_300"
                                         data-target="#conf_accordeon_300_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            Python dependencies <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="conf_accordeon_301"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#conf_accordeon_301"
                                 data-target="#conf_accordeon_301_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    Default values
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="conf_accordeon_301_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            In the most cases you apply the same statistical model and forecast the same number of periods. To save time you can assign default values to the report wizard. Go to Inventory > Settings and find the section 'Sales Trends and Forecast'
                                        </span>
                                    </div>
                                        <div class="col-md-12 alert alert-success">
                                             <span style="font-size:18px">
                                                Demand trends and forecast configuration
                                             </span>
                                        </div>
                                        <div class="col-md-12 mb4 mt8">
                                            <img class="img img-responsive shadow"
                                                 alt="Default values to generate a report"
                                                 src="stock_trends_conf.png"
                                            />
                                        </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#conf_accordeon_301"
                                         data-target="#conf_accordeon_301_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            Default values <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- FAQ -->
                <div class="tab-pane"
                     id="faq"
                >
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_71"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_71"
                                 data-target="#article_accordeon_71_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    I faced the error: QWeb2: Template 'X' not found
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_71_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            <div class="knowsystem_block_title_text">
            <div class="knowsystem_snippet_general" style="margin:0px auto 0px auto;width:100%;">
                <table align="center" cellspacing="0" cellpadding="0" border="0" class="knowsystem_table_styles" style="width:100%;background-color:transparent;border-collapse:separate;">
                    <tbody>
                        <tr>
                            <td width="100%" class="knowsystem_h_padding knowsystem_v_padding o_knowsystem_no_colorpicker" style="padding:20px;vertical-align:top;text-align:inherit;">
                                
                                <ol style="margin:0px 0 10px 0;list-style-type:decimal;"><li><p class="" style="margin:0px;">Restart your Odoo server and update the module</p></li><li><p class="" style="margin:0px;">Clean your browser cache (Ctrl + Shift + R) or open Odoo in a private window.</p></li></ol></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_71"
                                         data-target="#article_accordeon_71_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            I faced the error: QWeb2: Template 'X' not found <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_128"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_128"
                                 data-target="#article_accordeon_128_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    What are update policies of your tools?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_128_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="margin:0px 0px 0.25cm 0px;line-height:120%;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><p style="margin:0px 0px 0.25cm 0px;line-height:120%;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><p style="margin:0px 0px 0.25cm 0px;line-height:120%;">
	
	
	<style type="text/css">
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 115% }
	</style>


</p><p lang="en-US" style="margin:0px 0px 0.25cm 0px;line-height:120%;">According to the current Odoo Apps Store policies:</p><ul style="margin:0px 0 10px 0;list-style-type:disc;"><li><p lang="en-US" style="margin:0px;line-height:120%;"> every module bought for the version 12.0 and prior gives you an access to the all versions up to 12.0. </p></li><li><p lang="en-US" style="margin:0px;line-height:120%;">starting from the version 13.0, every version of the module should be purchased separately.</p></li><li><p lang="en-US" style="margin:0px;line-height:120%;">disregarding the version, purchasing a tool grants you a right for all updates and bug fixes within a major version.<br></p></li></ul><p lang="en-US" style="margin:0px 0px 0.25cm 0px;line-height:120%;">Take into account that Odoo Tools team does not control those policies. By all questions please contact the Odoo Apps Store representatives <a href="https://www.odoo.com/contactus" style="text-decoration:none;color:rgb(13, 103, 89);background-color:transparent;">directly</a>.</p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_128"
                                         data-target="#article_accordeon_128_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            What are update policies of your tools? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_123"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_123"
                                 data-target="#article_accordeon_123_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    May I buy your app from your company directly?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_123_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="margin:0px 0px 10px 0px;">Sorry, but no. We distribute the
tools only through the <a href="https://apps.odoo.com/apps" style="text-decoration:none;color:rgb(13, 103, 89);background-color:transparent;">official Odoo apps store</a></p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_123"
                                         data-target="#article_accordeon_123_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            May I buy your app from your company directly? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_125"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_125"
                                 data-target="#article_accordeon_125_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    How should I install your app?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_125_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="line-height:120%;margin:0px 0px 10px 0px;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><ol style="margin:0px 0 10px 0;list-style-type:decimal;">
	<li><p style="margin:0px;line-height:120%;">Unzip source code of purchased tools in one of your Odoo
	add-ons directory</p>
	</li><li><p style="margin:0px;line-height:120%;">Re-start the Odoo server</p>
	</li><li><p style="margin:0px;line-height:120%;">Turn on the developer mode (technical settings)</p>
	</li><li><p style="margin:0px;line-height:120%;">Update the apps' list (the apps' menu)</p>
	</li><li><p style="margin:0px;line-height:120%;">Find the app and push the button 'Install'</p>
	</li><li><p style="margin:0px;line-height:120%;">Follow the guidelines on the app's page if those exist.</p>
</li></ol>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_125"
                                         data-target="#article_accordeon_125_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            How should I install your app? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_126"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_126"
                                 data-target="#article_accordeon_126_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    Your tool has dependencies on other app(s). Should I purchase those?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_126_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="margin:0px 0px 0.25cm 0px;line-height:120%;">Yes, all modules marked in dependencies are absolutely required for a correct work of our tool. Take into account that price marked on the app page already includes all necessary dependencies.&nbsp;&nbsp;</p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_126"
                                         data-target="#article_accordeon_126_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            Your tool has dependencies on other app(s). Should I purchase those? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_127"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_127"
                                 data-target="#article_accordeon_127_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    I noticed that your app has extra add-ons. May I purchase them afterwards?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_127_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="margin:0px 0px 0.25cm 0px;line-height:120%;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><p style="margin:0px 0px 0.25cm 0px;line-height:120%;">Yes, sure. Take into account that Odoo
automatically adds all dependencies to a cart. You should exclude
previously purchased tools.</p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_127"
                                         data-target="#article_accordeon_127_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            I noticed that your app has extra add-ons. May I purchase them afterwards? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_129"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_129"
                                 data-target="#article_accordeon_129_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    I would like to get a discount
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_129_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="margin:0px 0px 0.25cm 0px;line-height:120%;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><p style="margin:0px 0px 0.25cm 0px;line-height:120%;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><p style="margin:0px 0px 0.25cm 0px;line-height:120%;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><p style="margin:0px 0px 0.25cm 0px;line-height:120%;">Regretfully, we do not have a
technical possibility to provide individual prices.</p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_129"
                                         data-target="#article_accordeon_129_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            I would like to get a discount <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_218"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_218"
                                 data-target="#article_accordeon_218_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    I deployed your app on Odoo.sh and see warning / error in tests
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_218_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            <p style="margin:0px 0px 10px 0px;">Red / orange warning itself does not influence features of the app. Regretfully, sometimes our modules do not pass standard automatic tests, since the latter assumes behavior which is in conflict with our apps goals. For example, we change price calculation, while standard Odoo module tests compare final price to standard algorithm.</p><p style="margin:0px 0px 10px 0px;">So, first of all, please check deployed database features. Does everything work correctly?</p><p style="margin:0px 0px 10px 0px;">If you still assume that warning influences real features, please contact us and forward full installation logs and the full lists of deployed modules (including core and third party ones).</p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_218"
                                         data-target="#article_accordeon_218_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            I deployed your app on Odoo.sh and see warning / error in tests <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_124"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_124"
                                 data-target="#article_accordeon_124_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    How can I install your app on Odoo.sh?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_124_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="margin:0px 0px 10px 0px;">As soon as you purchased the
app, the button 'Deploy on Odoo.sh' will appear on the app's page in
the Odoo store. Push this button and follow the instructions.</p>
<p style="margin:0px 0px 10px 0px;">Take into account that for paid
tools you need to have a private GIT repository linked to your
Odoo.sh projects</p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_124"
                                         data-target="#article_accordeon_124_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            How can I install your app on Odoo.sh? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_153"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_153"
                                 data-target="#article_accordeon_153_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    May I install the app on my Odoo Online (SaaS) database?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_153_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            <p style="margin:0px 0px 10px 0px;">No, third party apps can not be used on Odoo Online.</p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_153"
                                         data-target="#article_accordeon_153_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            May I install the app on my Odoo Online (SaaS) database? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- All Features Screenshots -->
                <div class="tab-pane"
                     id="screenshots"
                >
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Target your analysis by locations
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Analyse stock demand per location or company"
                                 src="stock_demand_trend_wizard.png"
                            />
                        </div>
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Experiment with various statistical models
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Different statistical methods for forecast"
                                 src="stock_demand_forecast_methods.png"
                            />
                        </div>
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Stock demand trends and forecast chart
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Chart of forecasts and historical moves"
                                 src="stock_trends_chart.png"
                            />
                        </div>
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Stock demand trends and forecast as an xlsx table
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Excel table of stock moves per periods"
                                 src="stock_demand_forecast_xlsx.png"
                            />
                        </div>
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Odoo pivot view of stock trends and forecast
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Odoo report for stocks prediction"
                                 src="stock_demand_forecast_report.png"
                            />
                        </div>
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Stock demand forecast in a few clicks
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Demand trends and forecast button"
                                 src="demand_trends_button.png"
                            />
                        </div>
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Grant the right for the forecast report
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Stock demand trends and forecast security"
                                 src="trends_security.png"
                            />
                        </div>
                </div>
                <!-- Support and demo -->
                <div class="tab-pane" id="support_info">
                    <div class="col-md-12 mt4 mb4 alert alert-success">
                         <span style="font-size:18px">
                            To contact us please register in our support system. Registration form is available by any link below. Registration doesn't take more than 30 seconds. No phone number, no credit card, and no payments are required
                         </span>
                    </div>
                    <div class="col-md-12"
                         style="background-color:#0D6759; padding:2%;"
                    >
                        <div style="font-size:25px;" class="text-center">
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_98&amp;x_custom_2=x_option_125&amp;x_custom_3=x_option_7&amp;url_type_id=1"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-bug" style="color:white;"/> Bug Report
                            </a>
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_98&amp;x_custom_2=x_option_125&amp;x_custom_3=x_option_7&amp;url_type_id=4"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-info-circle" style="color:white;"/> Raise Question
                            </a>
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_98&amp;x_custom_2=x_option_125&amp;x_custom_3=x_option_7&amp;url_type_id=2"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-bookmark" style="color:white;"/> New Features
                            </a>
                        </div>
                        <div style="font-size:25px"  class="text-center">
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_98&amp;x_custom_2=x_option_125&amp;x_custom_3=x_option_7&amp;url_type_id=3&amp;name=Demo Database for Testing"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-laptop" style="color:white;"/>  Request Demo Database (Live Preview) <sup><small style="font-weight: bold; color:#BA3C3D;"><i>free</i></small></sup>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 mt16">
                        <p style="font-size:18px;">
                            The module features and support depend on your Odoo version. Please select required one on the top right of this page.
                        </p>
                        <p style="font-size:18px;">
                            We guarantee to provide a working plan by your issue within 5 days. The most of issues are solved within 2 business days.
                        </p>
                        <p style="font-size:18px;">
                            <a href="https://odootools.com/">OdooTools</a> is the team of developers and business analysts to help you extend Odoo potential. We have been communicating with end users to whom the software became the main business tool since 2012. As a result, we are proud of dozens of successful Odoo apps developed.  We are open for new ideas and challenges to create the best Odoo tools for business needs all over the world.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Promoted apps -->
        <div class="col-md-12 mt32">
            <div class="row col-md-12">
                <h3>You may like the tools</h3>
            </div>
            <div class="row mb8">
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/13.0/product_management">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_1.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/13.0/product_management">
                            <span style="font-size:16px">Product Management Interface</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to search, select and update product templates in batch</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 92
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/13.0/variant_price_system">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_2.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/13.0/variant_price_system">
                            <span style="font-size:16px">Advanced Variant Prices</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to configure variant prices based on attributes coefficients and surpluses</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 96
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/13.0/product_stock_balance">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_3.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/13.0/product_stock_balance">
                            <span style="font-size:16px">Stocks by Locations</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to make inventory data essential and comfortable for elaboration</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 36
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/13.0/vendor_portal_management">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_4.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/13.0/vendor_portal_management">
                            <span style="font-size:16px">Vendor Products Portal</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to motivate vendors to prepare product catalogue in your Odoo</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 144
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/13.0/stock_limitation">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_5.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/13.0/stock_limitation">
                            <span style="font-size:16px">Stocks Access Rules</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to restrict users' access to stocks, locations and warehouse operations</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 28
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/13.0/vendor_product_management">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_6.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/13.0/vendor_product_management">
                            <span style="font-size:16px">Vendor Product Management</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to administrate vendor data about products, prices and available stocks</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 44
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/13.0/knowsystem">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_7.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/13.0/knowsystem">
                            <span style="font-size:16px">KnowSystem</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to build deep and structured knowledge base for internal and external use</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 228
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/13.0/google_drive_odoo">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_8.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/13.0/google_drive_odoo">
                            <span style="font-size:16px">Google Drive Odoo Integration</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to automatically synchronize Odoo attachments with Google Drive files in both ways</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 394
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/13.0/onedrive">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_9.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/13.0/onedrive">
                            <span style="font-size:16px">OneDrive / SharePoint Odoo Integration</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to automatically synchronize Odoo attachments with OneDrive files in both ways</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 394
                            </span>

                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb8 text-center hidden-xs">
            <span style="font-size:18px;background-color:#0D6759;padding:5px 20px 7px 20px;text-align:center;border-radius:5px;display: inline-block;">
                <a href="https://apps.odoo.com/apps/modules/browse?author=Odoo%20Tools" style="color:white;text-decoration:none;">
                    <i class="fa fa-long-arrow-right"> </i> More apps by Odoo Tools
                </a>
            </div>
        </div>
    </div>
</div>


