<?xml version="1.0" encoding="utf-8"?>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <p class="oe_mt32">
    The module forces to select a cashier before switching to payment screen. Once user clicks on "Payment", custom popup is shown and user can select a cashier by scanning cashier's barcode or by choosing one from the list.
    </p>
  </div>
</section>
<section class="oe_container">
            <h3 class="oe_slogan">Click payment</h3>
            <img style="width: 100%;border: 1px solid #BDBDBD; margin-bottom: 16px; margin-top: 16px;" src="click.png">
</section>

<section class="oe_container">
            <h3 class="oe_slogan">Result - POS Cashier Selecte</h3>
            <img style="width: 100%;border: 1px solid #BDBDBD; margin-bottom: 16px; margin-top: 16px;" src="result.png">
</section>
<h3 class="oe_slogan" style="text-align:center">HR attendance full control</h3>
<section class="o_gallery s_image_gallery o_fake_not_editable o_masonry o_spc-medium" style="background-color: #875A7B !important;color:white" data-columns="3" style="overflow: hidden;" data-name="Image Gallery">
<div class="container">
  <div class="row">
    
    <div class="col o_snippet_not_selectable col-lg-6">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">HR attendance FACE recognition control</h3>
        <a href="https://apps.odoo.com/apps/modules/13.0/hr_attendance_face_recognition/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="https://apps.odoo.com/apps/modules/13.0/hr_attendance_face_recognition/preview.gif" alt="Slide image" data-index="0">
        </a>
    </div>
    <div class="col o_snippet_not_selectable col-lg-6">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">HR attendance Geospatial access control</h3>
        <a href="https://apps.odoo.com/apps/modules/12.0/hr_attendance_geospatial/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="https://apps.odoo.com/apps/modules/12.0/hr_attendance_geospatial/preview.gif" alt="Slide image" data-index="0">
        </a>
    </div>
    <div class="col o_snippet_not_selectable col-lg-4">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">HR attendance IP-address access control</h3>
        <a href="https://apps.odoo.com/apps/modules/13.0/hr_attendance_ip/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="https://apps.odoo.com/apps/modules/13.0/hr_attendance_ip/min_info.png" alt="Slide image" data-index="0">
        </a>
    </div>
    <div class="col o_snippet_not_selectable col-lg-4">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">HR attendance Token-device access control</h3>
        <a href="https://apps.odoo.com/apps/modules/13.0/hr_attendance_token/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="https://apps.odoo.com/apps/modules/13.0/hr_attendance_token/form.png" alt="Slide image" data-index="0">
        </a>
    </div>
    <div class="col o_snippet_not_selectable col-lg-4">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">HR attendance Geolocation-device access control</h3>
        <a href="https://apps.odoo.com/apps/modules/13.0/hr_attendance_geo_html/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="https://apps.odoo.com/apps/modules/13.0/hr_attendance_geo_html/all_info.png" alt="Slide image" data-index="0">
        </a>
    </div>
  </div>
</div>
</section>

<h3 class="oe_slogan" style="text-align:center">Our best-selling modules</h3>
<section class="o_gallery s_image_gallery o_fake_not_editable o_masonry o_spc-medium" style="background-color: #875A7B !important;color:white" data-columns="3" style="overflow: hidden;" data-name="Image Gallery">
<div class="container">
  <div class="row">
    <div class="col o_snippet_not_selectable col-lg-4">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">Professional attachment manager</h3>
        <a href="https://apps.odoo.com/apps/modules/13.0/attachments_manager/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="https://apps.odoo.com/apps/modules/13.0/attachments_manager/preview.png" alt="Slide image" data-index="1">
        </a>
    </div>
    <div class="col o_snippet_not_selectable col-lg-4">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">Professional image  editor for Odoo images</h3>
        <a href="https://apps.odoo.com/apps/modules/13.0/field_image_editor/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="https://apps.odoo.com/apps/modules/13.0/field_image_editor/img1.png" alt="Slide image" data-index="0">
        </a>
    </div>
    <div class="col o_snippet_not_selectable col-lg-4">
        <h3  style="text-align:center;font-size: 1.425rem;color: #f1f1f1;">Professional Docx-Odoo templating</h3>
        <a href="https://apps.odoo.com/apps/modules/13.0/docx_report/" target="_blank">
            <img class="img img-fluid d-block img-thumbnail" src="https://apps.odoo.com/apps/modules/13.0/docx_report/template.png" alt="Slide image" data-index="0">
        </a>
    </div>
  </div>
</div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:shurshilov.a@yandex.ru">email</a> </a></p>
            <ul>
                <li><a href="mailto:shurshilov.a@yandex.ru">shurshilov.a@yandex.ru <i class="fa fa-envelope-o"></i></a></li>
            </ul>
            <h2>Official OCA contributor</h2>
            <img class="s_tooltip_tabs_tooltip_image" src="logo.png">
        </div>
    </div>
</section>