.o_return_photo .o_field_image {
    display: flex;
    float: none;
    justify-content: center;
}
.o_return_photo .o_field_image img{
    max-height: 80vh;
    max-width: 70vh;
}

.o_form_view .o_field_widget .o_kanban_view.o_kanban_ungrouped .o_kanban_record{
    height: 150px;
    width: 150px;
}

.o_kanban_view .oe_kanban_card .o_kanban_image, .o_kanban_view .o_kanban_record .o_kanban_image{
    height: 134px;
    overflow: hidden;
    width: 134px;
}

.oe_kanban_global_click.oe_kanban_return_photo.o_kanban_record .oe_kanban_details{
    display: flex;
    justify-content: center;
}