.pos .modal-dialog .popup-paymentrefinfo{
    text-align: left;
    width: 500px;
    height: 400px;
}


.paymentrefinfo-detail input{
    width: 300px !important;
}

.paymentrefinfo-detail {
    padding: 20px;
}

.tarjetas_wrap {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

span.label {
    width: 30%;
}
.tarjetas_wrap select {
    width: 300px;
    box-sizing: border-box;
    height: 35px;
    padding: 5px;
    background: #fff;
    border-radius: 3px;
    border-color: #C8C8C8;
    font-size: 18px;
    color: #555;
}