.return-screen .return-button {
    color: #f0f0f0;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* height: 20px; */
    padding: 4px 8px;
    margin: 3px;
    margin-bottom: 0px;
    margin-right: 2px;
    padding-top: 0px;
    background: #8b8b8b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    vertical-align: top;
    line-height: 20px;
    text-align: center;
    box-shadow: 0px -5px 10px -6px rgb(82,82,82) inset;
    cursor: pointer;
    min-width: 45px;
}
.return-screen .order-list tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.return-screen .order-list td tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.return-screen .order-list tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}

.return-screen .searchbox{
    right: auto;
    margin-left: 90px;
    margin-top:8px;
    left: 50%;
}
.return-screen .refreshbutton{
    right: auto;
    margin-left: 90px;
    margin-top:8px;
    left: 85%;
}
.reprint_order_screen .searchbox input{
    width: 120px;
}

.return-screen .order-list{
    font-size: 15px;
    width: 100%;
    line-height: 40px;
}
.rubricas {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 10px 0;
}
#nombre_rubrica{
    width: 20%;
    display: inline-block;
    text-align: start;
}

#rubrica_devolucion{
    height: 30px;
    font-size: 15px;
    padding: 5px;
    border-radius: 3px;
    background: #fff;
    width: 100%;
    border-color: #C8C8C8;
    font-size: 17px;
}
.wrap_nombre_rubrica {
    width: 20%;
    text-align: start;
}
.wrap_rubrica_devolucion {
    width: 80%;
}