
.workorder-list-contents .workorder-line .return-button {
    color: #f0f0f0;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* height: 20px; */
    padding: 4px 8px;
    margin: 0px;
    margin-bottom: 0px;
    margin-right: 2px;
    padding-top: 0px;
    background: #8b8b8b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
    box-shadow: 0px -5px 10px -6px rgb(82,82,82) inset;
    cursor: pointer;
    min-width: 45px;
}
.workorder-list tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.workorder-list td tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.workorder-list tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}

.searchbox{
    right: auto;
    margin-left: 90px;
    margin-top:8px;
    left: 50%;
}
.refreshbutton{
    right: auto;
    margin-left: 90px;
    margin-top:8px;
    left: 85%;
}
.searchbox input{
    width: 120px;
}

.workorder-list{
    font-size: 15px;
    width: 100%;
    line-height: 40px;
}

tr.workorder-line {
    border-bottom: 4px solid #cfc9c9;
    border-top: 4px solid #cfc9c9;
}