<section class="oe_container">
  <div class="oe_row oe_spaced">
  <div class="oe_span12">
    <h1 class="oe_slogan" style="color:#337ab7;">Prestige Backend Theme</h1>
    <h2 class="oe_slogan">The most popular backend theme for Odoo 13.0 Community</h2>
    <div class="oe_screenshot" style="text-align: center;">
      <h3 class="oe_slogan" style="color:#337ab7;">Neat and clean design</h3>
      <img style="max-width: 100%;" src="screenshot1.png"/><br><br>
    </div>
  </div>
</div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
  <div class="oe_row">
      <div class="oe_span12 oe_centeralign">
          <br/>
          <h3>Help & Support</h3>
          <br/>
              Contact: <a href="mailto:inboxlekhnath@gmail.com" subject="Prestige Backend Theme v13">Email Support</a><br/>
          <br/>
      </div>
  </div>
</section>

