
<section class="oe_container">
	<div class="oe_row oe_spaced" style="width: 100%; margin-top: 10px;">
		<div class="oe_span12" style="width: 100%;">
			<center>
				<h1 style="font-size: 2rem;">POS Session Summery Report.</h1>
			</center>
			<center>
				<p style="font-size: 20px; margin-top: 20px; margin-bottom: 20px; text-align: justify;">This module will help you to the print PDF report for the pos session summery.</p>
			</center>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 ml8"
				style="background-color: #2875aa; color: #FFFFFF !important; font-size: 20px; font-weight: bold; border-radius: 7px;"
				href="https://www.youtube.com/watch?v=xYuOpF4aZis" target="_blank"> Video
				Tutorial</a> <a class="btn mt8 ml8"
				style="background-color: #2875aa; color: #FFFFFF !important; font-size: 20px; font-weight: bold; border-radius: 7px;"
				href="http://www.sitaramsolutions.in/contactus/" target="_blank">
				Contact Us</a>
		</div>
	</div>
</section>
<section class="oe_container"
	style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
	<div class="panel">
		<div class="panel-heading"
			style="padding: 8px; border-top-left-radius: 15px; border-top-right-radius: 15px;">
			<div class="alert alert-info"
				style="padding: 8px; font-weight: 300; font-size: 20px;">
				<i class="fa fa-arrow-circle-o-right"></i><b> Module Features </b>
			</div>
			<ul class="list-unstyled ">
				<li style="font-size: initial"><i
					class="fa fa-check text-primary"></i> Print PDF report for POS session summery.</li>
				<li style="font-size: initial"><i
					class="fa fa-check text-primary"></i> 50 days free support.</li>
			</ul>
		</div>
	</div>
</section>

	<section class="oe_container oe_dark" style="margin-top: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
		<div class="oe_row oe_spaced" style="width:100%; margin-top: 10px;  ">
			<div class="oe_span12" style="width:100%;">
				<p>
				<center>
					<h1 style="font-size:2rem;">POS Session </h1>
				</center>
				</p>
				<div class="oe_demo oe_screenshot" style="margin-bottom:30px;">
					<img src="pos_session.png">
				</div>
			</div>
		</div>
	</section>

	<section class="oe_container" style="margin-top: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
		<div class="oe_row oe_spaced" style="width:100%; margin-top: 10px;  ">
			<div class="oe_span12" style="width:100%;">
				<p>
				<center>
					<h1 style="font-size:2rem;">Sample session summery report </h1>
				</center>
				</p>
				<div class="oe_demo oe_screenshot" style="margin-bottom:30px;">
					<img src="pdf_report.png">
				</div>
			</div>
		</div>
	</section>


	<section class="oe_container"
		style="margin-top: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); text-align: center; ">
		<div style="text-align: center;">
			<h1 style="padding-top: 20px; padding-bottom: 20px; color: #000; font-size: 33px;">
				Need Any Help ?</h1>
		</div>
		<div style="display: block; width: 100%; margin: 0 auto; height: auto; padding-bottom: 20px; margin-bottom: 20px;">
			<div style="display: inline-block; text-align: center; color: #000; width: 33.33%;">
				<a  href="mailto:info@sitaramsolutions.in"><img
					src="contact/gmail.png"
					style="display: block; text-align: center; width: 80px; height: 80px; margin: 0 auto; padding-bottom: 10px;"></a>
				<a  href="mailto:info@sitaramsolutions.in"><label
					 style="font-size: 18px; color: #000;">info@sitaramsolutions.in</label></a>
			</div>
			<div style="display: inline-block; text-align: center; color: #000; width: 33.33%;">
				<a  href="skype:contact.hiren1188?chat"><img
					src="contact/skype.png"
					style="display: block; text-align: center; width: 80px; height: 80px; margin: 0 auto; padding-bottom: 10px;"></a>
				<a  href="#"><label style="font-size: 20px; color: #000;">contact.hiren1188</label></a>
			</div>
			<div style="display: inline-block; text-align: center; color: #000; width: 32.33%;">
				<a  target="_blank"
					href="http://www.sitaramsolutions.in"><img
					src="contact/domain.png"
					style="display: block; text-align: center; width: 80px; height: 80px; margin: 0 auto; padding-bottom: 10px;"></a>
					<a  target="_blank" href="http://www.sitaramsolutions.in"><label  style="font-size: 20px; color: #000;">www.sitaramsolutions.in</label></a>
			</div>
		</div>
		<div style="display: block; width: 100%; margin: 0 auto; height: auto; padding-bottom: 20px; margin-bottom: 20px;">
			<div style="text-align: center; color: #000; width: 33.33%;">
				<img src="contact/customer-service.png"
					style="display: block; text-align: center; width: 80px; height: 80px; margin: 0 auto; padding-bottom: 10px;">
				<a  href="#"><label 
					style="font-size: 20px; color: #000;">50 Days Free Support</label></a><br />
				<a  href="#"><label 
					style="font-size: 20px; color: #000;">(Except data
						recovery)</label></a>
			</div>
		</div>

	</section>
	<section class="our_service" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); text-align: center; ">
		<div  style="text-align: center;">
			<h1
				style="padding-top: 20px; padding-bottom: 20px; color: #000; font-size: 33px;">
				Our Service</h1>
		</div>
		<div 
			style="display: block; width: 100%; height: auto; padding-bottom: 20px; margin-bottom: 20px;">
			<div 
				style="display: inline-block; text-align: center; color: #000; width: 33.33%;">
				<img src="services/development.png"
					style="display: block; text-align: center; width: 80px; height: 80px; margin: 0 auto; padding-bottom: 10px;">
				<label 
					style="text-transform: uppercase; font-size: 20px;">Customization</label>
			</div>
			<div 
				style="display: inline-block; text-align: center; color: #000; width: 33.33%;">
				<img src="services/implementation.png"
					style="display: block; text-align: center; width: 80px; height: 80px; margin: 0 auto; padding-bottom: 10px;">
				<label 
					style="text-transform: uppercase; font-size: 20px;">implementation</label>
			</div>
			<div 
				style="display: inline-block; text-align: center; color: #000; width: 32.33%;">
				<img src="services/solution.png"
					style="display: block; text-align: center; width: 80px; height: 80px; margin: 0 auto; padding-bottom: 10px;">
				<label 
					style="text-transform: uppercase; font-size: 20px;">integration</label>
			</div>
		</div>
		<div 
			style="display: block; width: 100%; height: auto; padding-bottom: 20px; margin-bottom: 10px;">
			<div 
				style="display: inline-block; text-align: center; color: #000; width: 33.33%;">
				<img src="services/code.png"
					style="display: block; text-align: center; width: 80px; height: 80px; margin: 0 auto; padding-bottom: 10px;">
				<label 
					style="text-transform: uppercase; font-size: 20px;">Development</label>
			</div>
			<div 
				style="display: inline-block; text-align: center; color: #000; width: 33.33%;">
				<img src="services/human-resources.png"
					style="display: block; text-align: center; width: 80px; height: 80px; margin: 0 auto; padding-bottom: 10px;">
				<label 
					style="text-transform: uppercase; font-size: 20px;">Hire
					Developer</label>
			</div>
			<div 
				style="display: inline-block; text-align: center; color: #000; width: 32.33%;">
				<img src="services/migrating.png"
					style="display: block; text-align: center; width: 80px; height: 80px; margin: 0 auto; padding-bottom: 10px;">
				<label 
					style="text-transform: uppercase; font-size: 20px;">Migrations</label>
			</div>
		</div>
	</section>

