<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png" style="width:200px">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo 13 POS Promotion</h2>
            <h3 class="oe_slogan">Allows user to get various Promotional Offers on products. </h3>
            <div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.</font>
            </div>
            <!-- <br/>
            <div class="oe_centeralign oe_websiteonly">
                <a href="https://apps.odoo.com/apps/modules/12.0/aspl_pos_promotion_ee/" target="new"
                   class="oe_button oe_big" style="background-color: #007a77;">Available for Enterprise</a>
            </div>
            <br/> -->
            <div>
                <h3>
                    Features
                </h3>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Get Promotional Offers on Products</li>
                    <li style="color:#30054D;font-weight:bold;">Define Brands on Products.</li>
                    <li style="color:#30054D;font-weight:bold;">Buy X Item Get Y Item Free.</li>
                    <li style="color:#30054D;font-weight:bold;">Buy X Item Get Discount on Y Item.</li>
                    <li style="color:#30054D;font-weight:bold;">Discount(%) on Total Order Amount.</li>
                    <li style="color:#30054D;font-weight:bold;">Percent Discount on Quantity.</li>
                    <li style="color:#30054D;font-weight:bold;">Fixed Discount on Quantity.</li>
                    <li style="color:#30054D;font-weight:bold;">Discount on Conbination of Product.</li>
                    <li style="color:#30054D;font-weight:bold;">Discount on Multiple Categories.</li>
                    <li style="color:#30054D;font-weight:bold;">Discount on Above Price.</li>
                </ul>
            </div>
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Click on "Pos Promotion" to set offers.</li>
                    <li style="color:#30054D;font-weight:bold;">To get Promotional Offers, select any one of the "Promotion Type".</li>
                </ul>
                <img style="max-width: 100%;" src="promo_list.png"><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Description of all promotional offers are shown in the below images.</li>
                </ul>
                <img style="max-width: 100%;" src="BuyXGetY.png"><br /><br />
                <img style="max-width: 100%;" src="buyXDiscY.png"><br /><br />
                <img style="max-width: 100%;" src="DiscOnTotal.png"><br /><br />
                <img style="max-width: 100%;" src="DiscOnQty.png"><br /><br />
                <img style="max-width: 100%;" src="FixDiscOnQty.png"><br /><br />
                <img style="max-width: 100%;" src="DiscOnCombo.png"><br /><br />
                <img style="max-width: 100%;" src="DiscOnCateg.png"><br /><br />
                <img style="max-width: 100%;" src="DiscOnPrice.png"><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Applied promotions can be seen as below.</li>
                </ul>
                <img style="max-width: 100%;" src="RuleApplied.png"><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Applied promotions can also be seen on the Receipt Screen.</li>
                </ul>
                <img style="max-width: 100%;" src="receipt_screen.png"><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To define Brands for products click on "Configuration > Product > Product Brands".</li>
                </ul>
                <img style="max-width: 100%;" src="Brands.png"><br />
            </div>
        </div>
    </div>
</section>
<section>
   <div class="main-fixed-section" style="
           position: fixed;
           top: 30%;
           right: 0;
           margin: 5px auto;
           background: #dbecf0;
           padding: 5px;
           border-radius: 10px;
           border: 2px solid #00A09D;
           text-align: center;
           max-width: 10%;
           ">
       <span class="quick-contact" style="
           width: 100%;
           font-weight: 600;
           text-align: center;
           height: auto;
           /* for font */
           color: #27525f;
           font-weight: 600;
           text-align: center;
           height: auto;
           width: 100%;
           font-size: 13px;
       ">Contact<br>Acespritech</span>
       <div class="fixed-contact" style="
           padding: 0;
           border: 0px solid #875A7B;
           margin: 2px auto;
           background: #875A7B;
           border-radius: 50%;
           text-align: center;
           height: 57px;
           line-height: 55px;
           width: 60px;">
           <div class="contact-number" style="line-height: 55px;">
               <a href="info@acespritech.com" target="_blank">
                   <span>
                       <img src="mail_icon.png" style="width: 100%;height: auto;max-width: 55%;">
                   </span>
               </a>
           </div>
       </div>
       <div class="fixed-website" style="
           padding: 0;
           border: 0px solid #875A7B;
           margin: 2px auto;
           background: #875A7B;
           border-radius: 50%;
           text-align: center;
           height: 57px;
           line-height: 55px;
           width: 60px;">
           <div class="contact-number" style="line-height: 55px;">
               <a href="https://www.acespritech.com" target="_blank">
                   <span>
                       <img src="icon_website.png" style="width: 100%;height: auto;max-width: 55%;">
                   </span>
               </a>
           </div>
       </div>
       <div class="fixed-skype" style="
           padding: 0;
           border: 0px solid #875A7B;
           margin: 2px auto;
           background: #875A7B;
           border-radius: 50%;
           text-align: center;
           height: 57px;
           line-height: 55px;
           width: 60px;">
           <div class="contact-number" style="line-height: 55px;">
               <a href="skype:acespritech" target="_blank">
                   <span>
                       <img src="skype_icon.png" style="width: 100%;height: auto;max-width: 50%;">
                   </span>
               </a>
           </div>
       </div>
   </div>
</section>
<section class="oe_container">
    <div class="oe_row" style="background-color: #008000;"> 
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12">
                <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. 
                    Before trying in your live db, please ask us to provide you for test link. 
                    If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
            </div>
        </div>
    </div>
    <div class="oe_row" style="background-color: #004CFF;"> 
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12">
            <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
        </div>
            <span>
                <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
                <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
                <a href="mailto:info@acespritech.com" style="color: yellow !important;font-weight:bold;">Email us</a>
               | <a style="color: yellow !important;font-weight:bold;">Skype: acespritech</a>
            </span>
        </div>
    </div>
</section>
